## LDO Octopus Default

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 17ba594a66ca
# restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 35000             #Max 4000
max_z_velocity: 25          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 20.0

#####################################################################
# Include 
#####################################################################
[include mainsail.cfg]
[include EBB36.cfg]
# [include sht36v2.cfg]

[include macros/print_base.cfg]
[include macros/macros.cfg]
[include macros/bedfans.cfg]
[include macros/nozzle_scrub.cfg]
[include KAMP_Settings.cfg]
[include macros/fan_tach_monitor.cfg]
[include calibration/ADXL.cfg]
[include K-ShakeTune/*.cfg]
[include macros/TEST_SPEED.cfg]
[include calibration/shaketune.cfg]
# [include macros/shell_command.cfg]
[include macros/klipper-backup.cfg]


#####################################################################
# Additions
#####################################################################

# [resonance_holder]

[respond]

[force_move] 
enable_force_move: true

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[input_shaper]
shaper_freq_x: 108.2
shaper_type_x: ei
shaper_freq_y: 75.8
shaper_type_y: mzv
damping_ratio_x: 0.048
damping_ratio_y: 0.036

#####################################################################
# MCU Temp Sensors
#####################################################################

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host


#####################################################################
#   X/Y Stepper Settings
#####################################################################
[stepper_x]
##	B Motor on MOTOR2
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
endstop_pin: PG11
# endstop_pin: tmc2209_stepper_x:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 295
position_max: 295
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# step_pulse_duration: 0.000004

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  
# diag_pin: ^PF4 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 125
# driver_SGTHRS: 130

[stepper_x1]
##	D Motor on MOTOR4
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_x1]
cs_pin: PC7
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  

[stepper_y]
##	A Motor on MOTOR1
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
# endstop_pin: tmc2209_stepper_y:virtual_endstop
endstop_pin: PG6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 312
position_max: 312
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# step_pulse_duration: 0.000004

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0 
# diag_pin: ^PF3 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 120

[stepper_y1]
##	C Motor on MOTOR3
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_y1]
cs_pin: PC6
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR5
[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: ^PF5
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
# endstop_pin: probe:z_virtual_endstop
##--------------------------------------------------------------------

#	Uncomment below for 300mm build
position_max: 260

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
# second_homing_speed: 3
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PF2
interpolate: False
run_current: 0.8
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z1 Stepper - Rear Left on Motor6
[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: False
run_current: 0.8
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z2 Stepper - Rear Right on Motor7
[stepper_z2]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: False
run_current: 0.8
# hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z3 Stepper - Front Right on Motor8
[stepper_z3]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: False
run_current: 0.8
# hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################


## !! see SHT36V2.CFG !! ##


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
pwm_cycle_time: 0.01
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
max_error: 160
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
#####################################################################
#   Probe
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_9C27DA3D5154364134202020FF142320-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 23.8 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2


# default_probe_method: proximity
# ##	Sets the default probing method for mesh, tilt, qgl, probe, etc.
# home_method: contact 
# ##	Use contact for homing if the printer is unhomed
# home_method_when_homed: proximity 
# ##	After initial calibration use induction homing
# home_autocalibrate: unhomed 
# ##	Calibrate beacon on first home

# contact_max_hotend_temperature: 180 
# ##	Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.

# ##--------------------------------------------------------------------

# ##  Uncomment below for 250mm build
# #home_xy_position: 125, 125 

# ##  Uncomment for 300mm build
# #home_xy_position: 150, 150 

# ##  Uncomment for 350mm build
# #home_xy_position: 175, 175 

# ##--------------------------------------------------------------------

# home_z_hop: 5
# home_z_hop_speed: 30
# home_xy_move_speed: 300


#####################################################################
#   Fan Control
#####################################################################

[controller_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PA8
kick_start_time: 0.5
heater: heater_bed
stepper: stepper_x, stepper_y
# heater_temp: 45.0
fan_speed: 1.0

[controller_fan driver_fan]
#  Controller fan - FAN2
pin: PD15
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0

[fan_generic nevermore]
pin: PD12
# pwm: true
cycle_time: 0.010
# value: 0
# shutdown_value: 0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PA3
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01


#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
pullup_resistor: 4700
min_temp: 0
max_temp: 100
gcode_id: chamber_th


[temperature_sensor Motor_Temp]
sensor_type: Generic 3950
sensor_pin: PF5
pullup_resistor: 4700
min_temp: 0
max_temp: 280

[temperature_sensor upper_bed]
# Upper Bed glass thermistor
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: -200
max_temp: 140



#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:150,150
speed:50
z_hop:15

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25


#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
# 	Bed Mesh
#####################################################################

[bed_mesh]
speed: 350

mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15
algorithm: bicubic


#####################################################################
# 	TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_x1]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y1]
motor: ldo-42sth48-2004mah

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.784
#*# pid_ki = 2.345
#*# pid_kd = 461.307
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 280.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 21.885
#*# pid_ki = 1.299
#*# pid_kd = 92.193
#*#
#*# [beacon model default]
#*# model_coef = 1.4229880901915766,
#*# 	  1.7450631313867468,
#*# 	  0.7643730947775171,
#*# 	  0.4017646903824267,
#*# 	  0.47754350461368145,
#*# 	  0.42900036145167836,
#*# 	  -0.3513002784125487,
#*# 	  -0.441580166611061,
#*# 	  0.2862307923721217,
#*# 	  0.2685896203955264
#*# model_domain = 1.812937050453709e-07,1.9358624653832508e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 83.914115
#*# model_offset = 0.17000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.210577, 0.152351, 0.008324, -0.148419, -0.256503, -0.273753, -0.246238, -0.206287, -0.159972, -0.098555, -0.048143, -0.009520, 0.036732, 0.074066, 0.093666
#*# 	  0.028727, -0.026745, -0.129125, -0.233612, -0.291417, -0.272091, -0.229394, -0.189000, -0.140537, -0.083852, -0.032837, 0.002906, 0.043299, 0.073223, 0.089394
#*# 	  -0.142246, -0.184506, -0.237761, -0.276537, -0.285328, -0.246463, -0.201245, -0.160382, -0.116735, -0.067997, -0.020879, 0.009917, 0.044645, 0.070944, 0.086246
#*# 	  -0.253224, -0.274909, -0.280188, -0.272449, -0.257424, -0.215685, -0.173886, -0.133173, -0.094837, -0.052567, -0.013124, 0.013012, 0.043918, 0.065930, 0.077774
#*# 	  -0.289317, -0.286622, -0.266983, -0.240821, -0.220391, -0.183029, -0.141127, -0.108758, -0.074876, -0.038671, -0.004674, 0.016288, 0.041421, 0.062968, 0.070209
#*# 	  -0.265336, -0.255941, -0.225662, -0.197693, -0.183611, -0.152638, -0.116353, -0.090116, -0.056285, -0.023686, 0.008901, 0.029124, 0.048512, 0.067964, 0.071767
#*# 	  -0.218075, -0.209508, -0.181286, -0.155424, -0.148135, -0.117135, -0.091610, -0.065115, -0.027877, 0.007878, 0.030834, 0.043722, 0.062712, 0.076291, 0.078691
#*# 	  -0.171006, -0.160883, -0.140404, -0.115975, -0.107611, -0.081444, -0.058162, -0.034394, 0.004381, 0.039254, 0.051063, 0.058299, 0.073188, 0.085703, 0.085417
#*# 	  -0.118649, -0.115325, -0.095338, -0.075496, -0.070985, -0.051455, -0.024852, -0.005903, 0.024841, 0.050511, 0.070502, 0.074417, 0.085321, 0.092375, 0.083721
#*# 	  -0.071944, -0.069386, -0.050712, -0.036263, -0.037106, -0.024148, 0.001163, 0.019124, 0.037993, 0.061887, 0.082280, 0.086826, 0.093549, 0.095496, 0.081484
#*# 	  -0.023474, -0.025003, -0.009564, -0.000973, -0.004153, 0.008489, 0.028465, 0.040852, 0.056947, 0.078437, 0.095351, 0.096781, 0.100907, 0.099485, 0.080874
#*# 	  0.015140, 0.010590, 0.024261, 0.030568, 0.027170, 0.039797, 0.056119, 0.062885, 0.073682, 0.092451, 0.102778, 0.099322, 0.100986, 0.097940, 0.076456
#*# 	  0.049975, 0.040838, 0.049721, 0.053548, 0.046748, 0.059498, 0.077297, 0.081043, 0.089857, 0.102822, 0.108177, 0.099470, 0.097638, 0.091248, 0.072012
#*# 	  0.091788, 0.074460, 0.079739, 0.079017, 0.070136, 0.080793, 0.096803, 0.099292, 0.105892, 0.115698, 0.117196, 0.109792, 0.099048, 0.090946, 0.069778
#*# 	  0.131170, 0.110331, 0.109680, 0.109651, 0.102083, 0.109079, 0.119727, 0.116044, 0.123287, 0.131274, 0.131659, 0.118897, 0.106843, 0.096008, 0.075839
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
